* {
    --sans: "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif;
    --serif: Georgia, "Minion Pro", Palatino, "Adobe Garamond Pro", "Times New Roman", serif;
    --mono: monospace;
    --arrow: Calibri, Avenir, Helvetica, Arial, sans-serif;
    --bg-color: #fff;
    --link-color: #0026ff;
    --text-color: #000;
    --color-block-bg-color: #f6ff00;
    --color-block-text-color: #000;

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--sans);
    transition: all .2s cubic-bezier(0.33, 1, 0.68, 1);
}

::selection {
    background-color: var(--link-color);
    color: #fff;
}

::-moz-selection {
    background-color: var(--link-color);
    color: #fff;
}

@media (prefers-color-scheme: dark) {
    * {
        --bg-color: #000;
        --text-color: #fff;
    }
}

body {
    background: var(--bg-color);
    color: var(--text-color);
}

h2,
h3,
ul {
    line-height: 1.5;
}

p {
    line-height: 1.5;
    margin-bottom: 2ch;
}

ul {
    padding-bottom: 2vw;
    list-style-type: none;
}

a,
a:focus,
a:active,
a:visited {
    text-decoration: unset;
    color: unset;
}

p>a,
div>a,
strong>a {
    border-bottom: 2px solid var(--link-color);
    padding: 1px;
}

p>a:hover,
div>a:hover,
strong>a:hover {
    background: var(--link-color);
    color: #fff;
}

div>a[href*="//"]:after, p>a[href*="//"]:after {
    font-weight: 300;
    font-size: 80%;
    padding-left: 3px;
    content: "\2197";
    opacity: .6;
    font-family: var(--arrow);
    position: relative;
    top: -0.7ch;
}

em {
    font-family: var(--serif);
}

.main {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

.heading {
    grid-column: 2 / -1;
    padding: 2ch 2ch 5vw 2ch;
}

.context {
    grid-column: 4 / -1;
}

.block {
    padding: 2ch 2ch 2ch 2ch;
}

.footer {
    grid-column: 2 / span 4;
    /* padding-top: 5vw; */
    opacity: 0.5;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    cursor: help;
}

.footer:hover {
    opacity: 1;
}

/* styling */

#home {
    border-bottom: 1px solid var(--text-color);
}

#home:hover {
    border-bottom: 5px solid;
}

.intro {
    font-weight: normal;
}

.color {
    grid-column: 2 / span 2;
    background: var(--color-block-bg-color);
    color: var(--color-block-text-color);
}

.heading-name {
    display: flex;
    justify-content: space-between;
}

.heading-general {
    background: var(--text-color);
    color: var(--bg-color);
}

.block-link {
    padding-top: 3vh;
    padding-bottom: 3vh;
}

.block-link:hover, .block-link:active, .block-link:focus {
    background: var(--link-color);
    color: #fff;
}

.blog-title:hover {
    outline: 5px solid var(--text-color);
}

.block-button {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.block-button-link {
    padding: 2ch;
}

.h3-blog-title {
    margin: 1ch 0;
    font-size: 1.2em;
    font-weight: 400;
    margin-inline-start: 2rem;
}

.blog-date {
    margin: 0 0 2ch;
    padding: 0;
    line-height: 0;
    font-size: .8em;
    opacity: .5;
    margin-inline-start: 2rem;
}

.work-content {
    display: none;
}

@keyframes shimmerAnimation {
    0% {
        background-position: 100%;
    }

    100% {
        background-position: -100%;
    }
}

.placeholder {
    background: linear-gradient(to right, #f0f0f0 0%, #ffffff 40%, #f0f0f0 80%);
    background-size: 100% 100%;
    color: transparent;
    animation: shimmerAnimation 2s infinite linear;
}

.h3-blog-title.placeholder,
.blog-date.placeholder {
    /* height: 1.2em; */
    width: 50%;
}

@media (prefers-color-scheme: dark) {
    .placeholder {
        background: linear-gradient(to right, #161616 0%, #313131 40%, #161616 80%);
        background-size: 100% 100%;
        color: transparent;
        animation: shimmerAnimation 2s infinite linear;
    }
}
  

/* form  */

input, textarea {
  line-height: 1.5;
  border: 1px solid var(--text-color);
  border-radius: 0;
  padding: 1vw;
}

input:hover, textarea:hover {
  outline: 5px solid var(--text-color);
}

input:focus, input:focus-visible, input:focus-within,
textarea:focus, textarea:focus-visible, textarea:focus-within {
  border: 0;
  outline: 5px solid var(--link-color);
}

.form-label {
  margin-bottom: 2ch;
  display: flex;
  flex-direction: column;
  line-height: 3;
}

.button {
  align-items: center;
  margin-top: 5ch;
}

.button-input {
  width: 45%;
  background: var(--text-color);
  color: var(--bg-color);
  outline: none;
  border: none;
}

.button-input:hover, .button-input:active, .button-input:focus {
  background: var(--link-color);
  color: #fff;
  outline: none;
  border: none;
}

/* responsive */

@media (max-width: 800px) {

    .heading,
    .context,
    .footer,
    .color {
        grid-column: 1 / span 6;
    }

    input, textarea {
        line-height: 3;
        padding: 2vw;
    }

    .footer {
        padding: 2ch;
    }
}

@media (min-width: 1600px) {
    .heading {
        grid-column: 2 / span 4;
    }

    .context {
        grid-column: 4 / span 2;
    }
}

/* scrollbar */

::-webkit-scrollbar {
    width: 1ch;
    height: 3px;
}

::-webkit-scrollbar-track {
    /* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); */
}

::-webkit-scrollbar-thumb {
    background-color: #7f7f7fcb;
    /* outline: 1px solid slategrey; */
}