* {
    --sans: "Franklin Gothic Book", "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif;
    --serif: Georgia, "Minion Pro", Palatino, "Adobe Garamond Pro", "Times New Roman", serif;
    --mono: monospace;
    --arrow: Calibri, Avenir, Helvetica, Arial, sans-serif;
    --bg-color: #fff;
    --link-color: #0026ff;
    --text-color: #000;

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--sans);
    transition: all .2s cubic-bezier(0.33, 1, 0.68, 1);
}

::selection {
    background-color: var(--link-color);
    color: #fff;
}

::-moz-selection {
    background-color: var(--link-color);
    color: #fff;
}

@media (prefers-color-scheme: dark) {
    * {
        --bg-color: #000;
        --text-color: #fff;
    }
}

body {
    background: var(--bg-color);
    color: var(--text-color);
}

h2,h3,ul {
    line-height: 1.5;
}

p {
    line-height: 1.5;
    margin-bottom: 2ch;
}

ul {
    padding-bottom: 2vw;
    list-style-type: none;
}

a, a:focus, a:active, a:visited {
    text-decoration: unset;
    color: unset;
}

p>a {
    border-bottom: 2px solid var(--link-color);
    padding: 1px;
}

p>a:hover {
    background: var(--link-color);
    color: #fff;
}

a[href*="//"]:after {
    font-weight: 300;
    font-size: 60%;
    padding-left: 2px;
    content: "\2197";
    opacity: .4;
    font-family: var(--arrow);
    position: relative;
    top: -0.8ch;
}

em {
    font-family: var(--serif);
}

.main {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

.nav {
    background: var(--text-color);
    color: var(--bg-color);
    font-family: var(--arrow);
    margin: auto;
    padding: 0 0 0 2ch;
    width: calc(100%/6);
    position: fixed;
}

.back {
    grid-column: 1;
    grid-row: 2;
    background: var(--link-color);
    color: #fff;
    opacity: 0.6;
    text-align: center;
}

.back:hover {
    background-color: var(--text-color);
    color: var(--bg-color);
    opacity: 1;
}

.heading {
    grid-column: 2 / span 6;
    padding: 2ch 2ch 5vw 2ch;
}

.name-heading {
    background: #c9c9c9;
    color: #000;
}

.highlight-heading {
    background: var(--text-color);
    color: var(--bg-color);
}

.detail-page-heading {
    background: var(--link-color);
    color: #fff;
    display: flex;
    justify-content: space-between;
}

.sub-heading {
    padding: 2ch;
}

.text {
    grid-column: 4 / span 6;
}

.home-nav {
    grid-column: 2 / span 2;
}

.detail-text {
    padding-bottom: 5vw;
    padding-right: 5vw;
}

.list {
    display: block;
    grid-column: 4 / span 6;
    padding: 1vw 2ch 5vw 2ch;
    border-top: 1px solid;
}

.list:hover, .button-list-button:hover {
    color: #fff;
    background: var(--link-color);
}

.button-list {
    display: grid;
    grid-column: 2 / span 6;
    grid-template-columns: repeat(6,minmax(0,1fr));
    grid-template-rows: repeat(2,minmax(0,1fr));
    text-align: center;
    background: var(--text-color);
    color: var(--bg-color);
}

.button-list-button {
    align-items: center;
    text-align: center;
    height: 100%;
    border-top: 1px solid;
    line-height: 2;
}

#copy-email {
    grid-row:1/-1; grid-column:1/2;
}

#open-email {
    grid-row:1/-1; grid-column:2/3;
}

#encrpyted {
    grid-row:1; grid-column:3/-1;
    opacity: 0.5;
}

.subscribe {
    padding-top: 5vw;
}

.issue-title {
    line-height: 1.5;
}

.footer {
    padding-top: 5vw;
    opacity: 0.6;
    display: flex;
    justify-content: space-between;
}

@media (max-width: 800px) {
    .heading {
        grid-column: 1 / span 6;
    }
    .text {
        grid-column: 2 / span 6;
    }
    .back {
        grid-column: 1 / span 6;
        padding-left: 2ch;
    }
    .nav {
        position: relative;
        margin: 0;
    }
    .detail-page-heading {
        flex-direction: column;
    }
    .button-list {
        grid-template-columns: repeat(2,1fr);
        grid-column: 1 / span 6;
    }
    #copy-email {
        grid-column: 1/1;
    }
    #open-email {
        grid-column: 2/-1;
    }
    #encrpyted {
        grid-row: unset;
        grid-column: 1/-1;
    }
}

@media (min-width: 1600px) {
    .heading {
        grid-column: 2 / span 4;
    }
    .text, .list {
        grid-column: 3 / span 3;
    }
    .button-list {
        grid-column: 2 / span 4;
    }
}